///////////////////////////////////////
//REUSABLE VARIABLES
:root {
    ///////////////////////////////////////
    //COLORS
    --color-primary: #00904B;
    
    --color-black: #000;
    --color-white: #fff;

    --color-grey: #737373;
    --color-grey-dark: #333333;


    ///////////////////////////////////////
    //BODY FONTS
    --body-font: "Montserrat", sans-serif;
    
    ///////////////////////////////////////
    //SHADOW
    --shadow: 0 1rem 2rem rgba(0,0,0, .2);


}
