///////////////////////////////////////
//REUSABLE VARIABLES
:root {
    ///////////////////////////////////////
    //COLORS

    //Remove gray and choose the color of your choice.
    --color-primary: gray;
    
    --color-black: #000;
    --color-white: #fff;

    --color-grey: #737373;
    --color-grey-dark: #333333;


    ///////////////////////////////////////
    //BODY FONTS. Change to desired body font here.
    --body-font: "Montserrat", sans-serif;
    
    ///////////////////////////////////////
    //SHADOW
    --shadow: 0 1rem 2rem rgba(0,0,0, .2);


}
