///////////////////////////////////////
//LINKS TO SOURCES
.sources-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    ///////////////////////////////////////
    &__items {
        padding: 0 3rem;

        @include respond(phone) {
            padding: 0 1.8rem;
        }
    }
    
    ///////////////////////////////////////
    &__link {
        &,
        &:link,
        &:visited {
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: 2px;
                
            
        }
        
    }
    
}

///////////////////////////////////////
//SHOWCASE FINISHED PROJECT
.showcase {
    width: 100%;

    //**IMPORTANT PLEASE READ**
        //REMOVE THESE SETTINGS AFTER ADDING AN IMAGE
    height: 40rem;
    background-color: aquamarine;
    color: aquamarine;
    
    ///////////////////////////////////////
    &__img {
        width: 100%;
        display: block;
    }
}


