////////////////////////////////////////
//Everything here is optional and here for convienence. Feel free to create new classes.

///////////////////////////////////////
//MARGIN BOTTOM
.margin-bot-lg {
    margin-bottom: 3rem;
}
.margin-bot-md {
    margin-bottom: 2rem;
}

.margin-bot-sm {
    margin-bottom: 1rem;
}

///////////////////////////////////////
//CENTERING
.center {
    text-align: center;
}

